<a href="https://colab.research.google.com/github/venkatesh0324/python_practice/blob/main/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#ncr
def ncr(n,r,):
  print(fact(n)/(fact(r)*fact(n-r)))

def fact(n):
    res=1
    for i in range(2,n+1):
        res=res*i
        return res
        n= 6
        r= 4
        print(int(ncr(n,r)))

In [4]:
#Program to print a specified list after removing the 0th, 4th and 5th elements.


a=['red','green','white','black','pink','yellow']
print(a[1:4])

['green', 'white', 'black']

In [11]:
a=['red','green','white','black','pink','yellow']
del a[0]
print(a)

['green', 'white', 'black', 'pink', 'yellow']

In [18]:
def common(a,b):
a = ["apple", "banana", "cherry"]
b= ["apple", "pineapple", "cherry"]
a,b=list(set(a).difference(b)),list(set(b).difference(a))
print(a)
print(b)

IndentationError: ignored