<a href="https://colab.research.google.com/github/venkatesh0324/python_practice/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#looping through sets and adding
a = {"apple", "banana", "cherry"}
a.add("orange")
for x in a:
  print(x)

cherry
orange
apple
banana

In [3]:
#updating sets
a = {"apple", "banana", "cherry"}
b = ["kiwi", "orange"]

a.update(b)

print(a)

{'cherry', 'kiwi', 'apple', 'banana', 'orange'}

In [4]:
#to discard items in set
a = {"apple", "banana", "cherry"}
a.remove("apple")
print(a)

{'cherry', 'banana'}