<a href="https://colab.research.google.com/github/venkatesh0324/python_practice/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#looping through sets and adding
a = {"apple", "banana", "cherry"}
a.add("orange")
for x in a:
  print(x)

cherry
orange
apple
banana

In [ ]:
#updating sets
a = {"apple", "banana", "cherry"}
b = ["kiwi", "orange"]

a.update(b)

print(a)

{'cherry', 'kiwi', 'apple', 'banana', 'orange'}

In [ ]:
#to discard items in set
a = {"apple", "banana", "cherry"}
a.remove("apple")
print(a)

{'cherry', 'banana'}

In [ ]:
#to remove things from set
a={"apple","banana","cherry"}
a.remove("banana")
print(a)

{'apple', 'cherry'}

In [3]:
#looping in sets
a={"khalifa","sanjana","srujana"}
for x in a:
  print(x)

khalifa
sanjana
srujana

In [7]:
#to join two sets
a={"srujana","sara","thomas"}
b={1,4,3}
c = a.union(b)
print(c)

{1, 'thomas', 3, 4, 'sara', 'srujana'}

In [8]:
#to update sets
v={"xyz","abc","pqr"}
s={1,2,3}
v.update(s)
print(v)

{1, 'xyz', 2, 'pqr', 3, 'abc'}

In [9]:
#to print only duplicate values in the sets that are present in both the sets
x={"sara",1,"jain","hemanth"}
y={1,4,5,"sara"}
x.intersection_update(y)
print(x)

{1, 'sara'}

In [10]:
#to print the intersection
x={"sara",1,"jain","hemanth"}
y={1,4,5,"sara"}
z=x.intersection(y)
print(z)

{1, 'sara'}

In [11]:
#symetric_difference_update() this will keep only elements that are not present in both sets
x={"sara",1,"jain","hemanth"}
y={1,4,5,"sara"}
x.symmetric_difference_update(y)
print(x)

{4, 5, 'hemanth', 'jain'}

In [12]:
#symetric_difference() itt will return a new set that contains only the elemnts
x={"sara",1,"jain","hemanth"}
y={1,4,5,"sara"}
z=x.symmetric_difference(y)
print(z)

{4, 5, 'hemanth', 'jain'}