<a href="https://colab.research.google.com/github/venkatesh0324/python_practice/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
a='I am venkatesh coming from madhurwada by bike, I am reaching gitam by 9 and I have a class from 9 to 11.'
print(a)
"""len is used to print the length of the stringh"""
print(len(a))
"""to check a string"""
print('gitam' in a)
"""to check the non existing word in the string"""
print('hemanth' in a)
for x in 'venkatesh':
  print(x) 
""" if not in a"""
print('gitam' not in a)
print('am' in a,'hemanth' in a)

I am venkatesh coming from madhurwada by bike, I am reaching gitam by 9 and I have a class from 9 to 11.
104
True
False
v
e
n
k
a
t
e
s
h
False
True False

In [21]:
""""slicing in string"""
a="I went to RRR movie with my friends"
print(a[2:5])
print(a[2:-5])
print(a[1:5])
print(a[4:])

wen
went to RRR movie with my fr
 wen
nt to RRR movie with my friends

In [25]:
## modifying a string
a=" Harley-Davidson, Inc., H-D, or Harley, is an American motorcycle manufacturer     "
print(a.upper())##upper case
print(a.lower())## lower case
print(a.strip())## to remove white spaces

 HARLEY-DAVIDSON, INC., H-D, OR HARLEY, IS AN AMERICAN MOTORCYCLE MANUFACTURER
 harley-davidson, inc., h-d, or harley, is an american motorcycle manufacturer
Harley-Davidson, Inc., H-D, or Harley, is an American motorcycle manufacturer

In [26]:
##Replacing of letter in a string
a="I went to RRR movie with my friends"
print(a.replace("R" , "p"))

I went to ppp movie with my friends

In [31]:
##string concatenation or adding two strings
a=" Harley-Davidson,"
b="is an American motorcycle manufacturer"
c="is love"
print(a+b)
print(a+c)
print(a+""+b)

 Harley-Davidson,is an American motorcycle manufacturer
 Harley-Davidson,is love
 Harley-Davidson,is an American motorcycle manufacturer

In [33]:
##string formatting
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))


age = 18
txt = "My name is venkatesh, and I am {}"
print(txt.format(age))

I want 3 pieces of item 567 for 49.95 dollars.
My name is venkatesh, and I am 18